@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: "Poppins" ,sans-serif;
}

header {
    background-color: #25b79f;
    height: 100vh;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

/*//..Navbar..//*/

.navbar {
    position: fixed;
    width: 100%;
    z-index: 500;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.menu-items {
    display: flex;
}

.menu-items li {
    list-style: none;
    padding: 1rem;
}

.menu-items a {
    text-decoration: none;
    color: #f0f0e6;
    font-size: 1.2rem;
    padding: 0.3rem;
}

.menu-items a:hover {
    border-bottom: 2px solid #f0f0e6;
}

.navbar .logo {
    order: 1;
    color: #f0f0e6;
    font-size: 2rem;
}

/*/...Home Content.../*/

.home-content .name {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #07374a;
    width: 100%;
    text-align: center;
}

.home-content .name h1 {
    font-size: 2.2rem;
    text-align: center;
}

.home-content .name p {
    color: #f0f0e6;
    font-size: 1.5rem;
}

.angle-down-icon {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    border: 3px solid #07374a;
    border-radius: 50%;
}

.angle-down-icon a {
    text-decoration: none;
    color: #07374a;
    padding: 1rem;
}


/*/...About Me../*/

.about-me {
    background-color: #07374a;
    padding: 6rem 0;
}

.about-me .about-heading {
    color: #25b79f;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.about-content img {
    height: 200px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.about-content p {
 font-size: 1.2rem;
 color: #f0f0e6;
 padding: 0 2.3rem;
 text-align: center;
}

.skills .skills-heading {
    font-size: 2rem;
    font-weight: 600;
    color: #25b79f;
    text-align: center;
}

.about-me .about-content {
    display: flex;
    flex-wrap: wrap;
}

.about-content .left-content {
    flex-basis: 45%;
    text-align: center;
}
 .about-content .right-content {
    flex-basis: 45%;
 }

 /*/...Skills bar.../*/

 .skills-bar {
    padding: 25px 30px;
 }

 .skills-bar .bar .info span {
    font-size: 1rem;
    font-weight: 500;
 }

 .skills-bar .bar .info {
    margin-bottom: 8px;
    color: #f0f0e6;
 }

 .skills-bar .bar .progress-line{
    position: relative;
    height: 10px;
    width: 550px;
    background: #f0f0f0;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1)forwards;
 }